.carts-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    box-shadow: 0 0 0.25rem gray;
    text-align: center;
    max-width: 1200px;
    width: 70%;
    margin-bottom: 3rem;
}
.carts-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0.5rem 1rem 1rem;
  align-items: start;
  height: 500px;
  overflow-y: auto;
}

.carts-card {
  transform: scale(0.9);
  transform-origin: top center;
}

.carts-summary {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
